.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #fff;
    }

    .text-green:hover {
        color: darken($color: #4de054, $amount: 15);
        transition: .2s ease;
    }
}